@import url("base.css");

/* HEADER */
.title{
    text-align: center;
    padding: 40px 20px;
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.title h1{
    font-size: 40px;
}

.title p{
    font-size: 20px;
}

.title span{
    color: var(--verde);
}



/* SOBRE NÓS */
.sobre-nos{
    background-color: var(--azul);
    padding: 40px 20px;
}

.sobre-nos h1{
    text-align: center;
    color: var(--verde);
    font-size: 40px;
}

.container-sobre-nos{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sobre-nos-image img{
    border-radius: 15px;
    box-shadow: var(--shadow);
    object-fit: cover;
    width: 500px;
    transition: 300ms;
}

.sobre-nos-image img:hover{
    opacity: 0.8;
}

.sobre-nos-texto{
    width: 50%;
}

.sobre-nos-texto p{
    text-align: justify;
    font-size: 20px;
    color: var(--verde);
}

/* SERVIÇOS */
.serviços{
    padding: 40px 20px;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.serviços-images img{
    border-radius: 15px;
    box-shadow: var(--shadow);
    object-fit: cover;
    width: 500px;
    transition: 300ms;
}

.serviços-images img:hover{
    opacity: 0.8;
}

.serviços-textos{
    width: 50%;
    text-align: justify;
}

.serviços-textos h1{
    color: var(--verde);
    font-size: 40px;
}

.serviços-textos p{
    color: var(--branco);
    font-size: 20px;
}

/* TIME */
.time{
    background-color: var(--verde);
    padding: 40px 20px;
}

.time h1{
    color: var(--azul);
    text-align: center;
    font-size: 40px;
}

.container-time{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.time-item{
    width: 30%;
    background-color: var(--branco);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.time-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
}

.time-texto{
    padding: 40px;
}

.time-texto h1{
    color: var(--azul-escuro);
    font-size: 20px;
    text-align: start;
}

/* CONTATO */
.contato{
    background-color: var(--azul-escuro);
    padding: 40px 20px;
}

.contato h1{
    color: var(--verde);
    text-align: center;
    font-size: 40px;
}

.contato form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-form{
    width: 50%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contato form input{
    width: 50%;
    background-color: var(--branco);
    padding: 20px 10px;
    border: none;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.contato form button{
    background-color: var(--verde);
    width: 50%;
    margin-top: 20px;
    padding: 20px 10px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: var(--shadow);
    transition: 300ms;
}

.contato form button:hover{
    background-color: var(--branco);
}

@media (max-width: 750px) {
    /* SOBRE NOS */
    .container-sobre-nos{
        flex-direction: column;
    }

    .sobre-nos-image img{
        width: 100%;
    }

    .sobre-nos-texto{
        width: 100%;
    }

    /* SERVIÇOS */
    .serviços{
        flex-direction: column;
    }

    .serviços-images img{
        width: 100%;
    }

    .serviços-textos{
        width: 100%;
    }

    /* TIME */
    .container-time{
        flex-direction: column;
    }

    .time-item{
        width: 60%;
    }

    /* CONTATO */
    .div-form{
        width: 100%;
    }

    .contato form input{
        width: 100%;
    }

    .contato form button{
        width: 100%;
    }
}